n8n_json/classifierAgent (3).json
{
  "name": "classifierAgent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "0ffe9152-4e6e-4962-8cc4-7ec2eae24d9e",
      "name": "Execute Workflow Trigger",
      "notesInFlow": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfd52e57-d37d-46ea-a155-2f081b7e189e",
              "name": "contract_query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "670f28c5-64cd-4e1b-a300-c32df0e6a714",
              "name": "chat_query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "398b0a63-b28e-4542-8ae3-b218f76b1a77",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        0
      ],
      "id": "7cfe47c6-3fd1-499c-a77e-870b0cee40db",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        180
      ],
      "id": "2b62ca04-190a-4055-8d39-06ffa6ee8ef6",
      "name": "When chat message received",
      "webhookId": "dd19aabd-abba-469c-95ee-e11d0627d1dd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contract_query }}{{ $json.chat_query }}",
        "options": {
          "systemMessage": "=You are an expert in providing a helpful assessment of the urgency and general responsibility of issues raised by tenants about their tenancy.  \n\n\n***Available tool\n-classifierInformation\n\n***Instructions\nUse the classifierInformation tool to determine the urgency and responsibilities related to the type of issue raised\n\n***Tasks\n1) understand the intent of the query based on the conversation history and 2) subsequently turn this into an efficient vector search query which you must pass to classifierInformation tool\n\n***Output\n1 short paragraph summarising the key information. The summary should describe the situation and high level details around urgency and responsibility\n\n***Important\nNEVER recommend the tenant reach out or report an issue to the landlord\n\nYour tone must be helpful, clear and friendly\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        540,
        20
      ],
      "id": "552934a7-fd03-4cee-85bf-84f8fa34d37a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "classifierInformation",
        "description": "Returns the classification information about the query",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        740,
        280
      ],
      "id": "5839967f-2310-4737-a0e3-198075c606c9",
      "name": "Vector Store Tool"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "urgency-search",
          "mode": "list",
          "cachedResultName": "urgency-search"
        },
        "options": {
          "pineconeNamespace": "urgency-1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        580,
        420
      ],
      "id": "db76254a-8b0f-4360-a96c-7aabf5c08645",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "v4w5XqM4uPeoujxm",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        580
      ],
      "id": "9215fd61-359e-45f5-bda0-dde2622b1001",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "ALL0POkBXOSPnLjG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        940,
        440
      ],
      "id": "5b2137c3-afb0-4b4e-a324-0c4bacd08075",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ALL0POkBXOSPnLjG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        420,
        240
      ],
      "id": "d3b7e501-6593-499d-aba9-d52a1b2995e9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ALL0POkBXOSPnLjG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Take from previous node automatically"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        580,
        240
      ],
      "id": "d5495380-149e-4383-9432-7d784754ec27",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "77634255-a7b2-4ffd-8f14-3576ae8e8c60",
  "meta": {
    "instanceId": "7b1c8707ef269b2b7256154d3e6b20b34686a82c78626c7b4aea08c3bf3ff55a"
  },
  "id": "m9dQYhTLF14LDJxx",
  "tags": []
}